{% assign tiles_source = page.tiles-source | default: site.tiles-source %}
{% assign tiles_count = page.tiles-count | default: site.tiles-count %}

<section id="one" class="tiles">
  {% if tiles_source == 'pages' %}
    {% for p in site.pages limit: tiles_count %}
      {% include _home_tile.html item= p %}
    {% endfor %}
  {% else %}
    {% assign items = site[tiles_source] | limit: tiles_count %}
    {% for item in items %}
      {% include _home_tile.html item= item %}
    {% endfor %}
  {% endif %}
</section>
