<!-- Contact -->
<section id="contact">
  <div class="inner">
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-phone"></span>
          <h3>Phone</h3>
          <span>{{ site.phone }}</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-telegram"></span>
          <h3>Telegram</h3>
          <a href="https://t.me/{{ site.telegram }}">@{{ site.telegram }}</a>
        </div>
      </section>
    </section>
  </div>
</section>

{% include _nav_footer.html %}

<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
